<html>
	<body>
		<h1>Bokushi</h1>
		<a href='/notifications'>
			<button>
				Notificações
			</button>
		</a>
		<a href='/workers'>
			<button>
				Colaboradores
			</button>
		</a>
		<a href='/agenda'>
			<button>
				Agendamentos
			</button>
		</a>

		<!-- Now only for admin -->

		<a href='/fields'>
			<button>
				Requisitos
			</button>
		</a>
		<a href='/events'>
			<button>
				Tipos de marcação
			</button>
		</a>
		
	</body>
</html>
