<html>
	<body>
		<h2>Registro</h2>
		<form method='POST'>
			<label for='name'>Nome</label>
			<input type='text' name='name' id='name'/>
			<label for='cnpj'>CNPJ</label>
			<input type='text' name='cnpj' id='cnpj'/>
			<label for='email'>Email</label>
			<input type='email' name='email' id='email'/>
			<label for='password'>Senha</label>
			<input type='password' name='password' id='password'/>
			<input type='submit' value='Cadastrar'>
		</form>
	</body>
</html>
