<html>
	<body>
		<section>
			<h2>Certificações dos colaboradores</h2>
			<div>
				<h4>
					<%= submission.worker %>
				</h4>
				<p>
					<%= submission.field %>
				</p>
				<p>
					<%= submission.data %>
				</p>
				<p>
					<%= submission.status %>
				</p>
				<button onclick="approve()">
					Aprovar
				</button>
				<button onclick="reject()">
					Recusar
				</button>
			</div>
		</section>
	</body>
	<style>
		body {
			text-align: center;
		}
		div {
			border-style: solid
		}
	</style>
	<script>
		const url = window.location.href;
		function update_status(new_state) {
			var request = new XMLHttpRequest();
			request.addEventListener("load", () => {
				alert("Documento marcado como " + new_state);
				window.location.href = ".";
			})
			request.open("PUT", url, false)
			request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
			request.send(`status=${new_state}`);
		}
		function approve() {
			update_status("aprovado");
		}
		function reject() {
			update_status("recusado");
		}
	</script>
</html>
