<html>
	<body>
		<h2>Colaboradores</h2>
		<% for(i in workers) { %>
			<a href="/workers/<%= workers[i].id  %>">
				<div>
					<h3>
						<%= workers[i].name %>
					</h3>
				</div>
			</a>
		<% } %>
		<h2>Cadastrar novo colaborador</h2>
		<form method="POST">
			<label for="name">Nome Completo</label>
			<input type="text" name="name" id="name"/>
			<label for="cpf">CPF</label>
			<input type="text" name="cpf" id="cpf"/>
			<input type="submit" value="Cadastrar"/>
		</form>
	</body>
	<style>
		body {
			text-align: center;
		}
		div {
			border-style: solid
		}
	</style>

	
	</body>
</html>
